<html>

  <head>
    <link href="/admin/mirador/css/mirador-combined.css" rel="stylesheet" type="text/css">
      <script src="/admin/mirador/mirador.js"></script>
      <style type="text/css">
        body { padding: 0; margin: 0; overflow: hidden; font-size: 70%; }
        #viewer {
          background: #333 url(/admin/mirador/images/debut_dark.png) left top repeat;
          width: 100%; height: 100%; position: fixed;
        }
        .window-manifest-title {
          font-size: 85%;
        }
        .manifest-info {
          overflow: hidden;
          font-size: .85em;
        }
      </style>
  </head>

  <body>
    <div id="viewer"></div>
    <script type="text/javascript">
      $(function() {
        Mirador({
          "id": "viewer",
          "mainMenuSettings": {
            'show': false
          },
          "showAddFromURLBox": false,
          "layout": "1x1",
          "data": [{
            "manifestUri": "{{jiiify-host}}{{jiiify-service-prefix}}/{{id}}/manifest",
            "location": "UCLA"
          }],
          "windowObjects": [{
            "loadedManifest": "{{jiiify-host}}{{jiiify-service-prefix}}/{{id}}/manifest",
            "availableViews": ["ImageView"],
            "viewType": "ImageView",
            "annotationLayer": false,
            "overlay": false,
            "fullScreen": false,
            "displayLayout": false,
            "bottomPanel": false,
            "sidePanel": false
          }]
        });
      });
    </script>
  </body>

</html>